{% load staticfiles %}
<link href="{% static 'twitter/css/newtweets.css' %}" rel="stylesheet">
<script src="{% static 'twitter/js/newtweets.js' %}" type="text/javascript"></script>

<div id="tweets" class="span5 seccion">
	{% if tweets|length %}
		{% for tweet in tweets %}
			{% if forloop.counter0 == 0 %}
				<script>tweet_id = {{ tweet.id }}</script>
			{% endif %}
			<article>
				<header>
					<img src="{% if tweet.profile.logo.url %}{{ tweet.profile.logo.url }}{% else %}{{ STATIC_URL }}twitter/default.png{% endif %}" class="perfil">
					<h3>{{ tweet.user.get_full_name }} (@{{ tweet.user }})</h3>
				</header>
				{{ tweet.filtrar|safe|linebreaksbr }}
				<footer>
					<p>
						<strong>Publicado: {{ tweet.fecha }}</strong>
					</p>
				</footer>
			</article>
		{% endfor %}
	{% else %}
		<header>
			<h3>No hay ningun tweet</h3>
		</header>
	{% endif %}
		<footer>
			<div class="pagination">
				<ul>
				<li class="prev{% if page < 2 %} disabled{% endif %}">
					<a href="/{{ page_prefix }}page/{{ prev }}/{{ page_sufix }}">&larr; Anterior</a>
				</li>
				<li class="next"><a href="/{{ page_prefix }}page/{{ next }}/{{ page_sufix }}">Siguiente &rarr;</a></li>
				</ul>
			</div>
		</footer>
</div>

